<div class="main">
<%= form_tag(log_logins_path) do %>

<div class="form">
<p id="title">提案制度システム</p>
  <p class="text-danger" ><%= @flash_now_alert %></p>
  <table style="width:350px">
  	<tr>
      <td>地区本部</td>
      <td>
<%= select_tag 'branch_name[name]', options_for_select(["くにびき", "やすぎ", "斐川", "出雲", "雲南", "石見銀山", "島根おおち", "いわみ中央", "西石見", "隠岐", "隠岐どうぜん", "JAバンク島根信連", "JA島根厚生連", "JA全農しまね", "JA共済連島根", "JA島根電算センター", "本店"]),{class:"input-sm  form-control" } %>
      </td>
    </tr>
  	<tr>
	  <td>職員コード</td>
      <td><%= text_field_tag :login_id, params[:login_id], :class => "input-sm  form-control"  %></td>
    </tr>
  	<tr>
      <td>パスワード</td>
      <td><%= password_field_tag :login_pass, params[:login_pass], :class => "input-sm form-control"  %></td>
    </tr>
  </table>
  <div>
    <%= button_tag( class: "btn btn-default") do %>
    <%= content_tag :login, "ログイン", class: "fa fa-lock" %>
  </div>
<% end %>
</div>
<% end %>
</div>
